
<%= form_with(model: fic, local: true) do |form| %>
  <% if fic.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(fic.errors.count, "error") %> prohibited this fic from being saved:</h2>

      <ul>
        <% fic.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :author, class: 'form-label' %>
    <%= form.text_field :author, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :summary, class: 'form-label' %>
    <%= form.text_area :summary, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :word_count, class: 'form-label' %>
    <%= form.text_field :word_count, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :chapter_count, class: 'form-label' %>
    <%= form.number_field :chapter_count, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :fandom, class: 'form-label' %>
    <%= form.text_field :fandom, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :ship, class: 'form-label' %>
    <%= form.text_field :ship, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :maturity_rating, class: 'form-label' %>
    <%= form.text_field :maturity_rating, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :date_completed, class: 'form-label' %>
    <%= form.date_select :date_completed, {}, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :reader_rating, class: 'form-label' %>
    <%= form.number_field :reader_rating, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :reader_notes, class: 'form-label' %>
    <%= form.text_area :reader_notes, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
