<div class="show-custom">

  <div class="field">
    <strong>Title:</strong>
    <div class="value"><%= @fic.title %></div>
  </div>

  <div class="field">
    <strong>Author:</strong>
    <div class="value"><%= @fic.author %></div>
  </div>

  <div class="field">
    <strong>Summary:</strong>
    <div class="value"><%= @fic.summary %></div>
  </div>

  <div class="field">
    <strong>Word count:</strong>
    <div class="value"><%= @fic.word_count %></div>
  </div>

  <div class="field">
    <strong>Chapter count:</strong>
    <div class="value"><%= @fic.chapter_count %></div>
  </div>

  <div class="field">
    <strong>Fandom:</strong>
    <div class="value"><%= @fic.fandom %></div>
  </div>

  <div class="field">
    <strong>Ship:</strong>
    <div class="value"><%= @fic.ship %></div>
  </div>

  <div class="field">
    <strong>Maturity rating:</strong>
    <div class="value"><%= @fic.maturity_rating %></div>
  </div>

  <div class="field">
    <strong>Date completed:</strong>
    <div class="value"><%= @fic.date_completed %></div>
  </div>

  <div class="field">
    <strong>Reader Rating:</strong>
    <div class="value"><%= @fic.reader_rating %></div>
  </div>

  <div class="field">
    <strong>Reader Notes:</strong>
    <div class="value"><%= @fic.reader_notes %></div>
  </div>

  <div class="actions">
    <%= link_to 'Edit', edit_fic_path(@fic), class: 'btn btn-primary' %>
    <%= link_to 'Back', fics_path, class: 'btn btn-secondary' %>
  </div>
</div>
